/* colors */
$primary-color: rgba(0, 0, 255, 0.55);
$white: white;
$black: black;

#home, #presentation, #projects {scroll-margin-top: 150px;}
#skills {scroll-margin-top: 80px;}

/* fonts */
$button-font: -apple-system, BlinkMacSystemFont, "SF Pro Text", sans-serif;
$main-font: 'Open Sans', sans-serif;
$second-font: 'Roboto Condensed', sans-serif;


/* mixins/keyframes */

@mixin wrapper-language {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10em;
    border-radius: 3rem;
    min-height: 30vh;
    margin: 0 20px;

    .langauge-item {
        display: flex;
        flex-direction: column;

    }
    img {
        width: 70px;
        height: 70px;
        margin-bottom: 5px;
        transition: all 0.15s ease; 

    &:hover {
        width: 73px;
        height: 73px;
        cursor:grab;
    }
    }

    h3 {
        font-size: 15px;
        font-family: $main-font;
        font-weight: 700;
        color: $black;
    }
}
@mixin inputs {
    padding: 0 7px;
    border-radius: 2.5px;
    box-shadow: 0 0 0 1px $primary-color;
    border: 2px solid transparent;
    font-size: 15px;
    font-weight: 500;
    width: 100%;
    outline: none;
    transition: border 0.5s ease; 

    &:focus {
        border-color: $primary-color;
    }
}
@keyframes logo-rotation {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@keyframes card-rotation {
    0% {
        transform: rotateX(0) rotateY(0) rotateZ(0);
    }
    50% {
        transform: rotateX(0) rotateY(90deg) rotateZ(0);
    }
    100% {
        transform: rotateX(0) rotateY(0) rotateZ(0);
    }
}

/* body/html */
*
{
margin: 0;
padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* App */

.title {
    font-family: $second-font;
    margin-bottom: 8vh;
    font-size: 70px;
    color: $primary-color;
    text-align: center;
}

/* banner */

.wrapper-banner {
    display: flex;
    align-items: center;
}

nav {
display: flex;
justify-content: space-between;
align-items: center;
min-height: 10vh;
box-shadow: 0 -1px 15px -10px $black;
background-color: $white;
position: sticky;
top: 0;
z-index: 2;

h1{
    margin-left: 10px;
    font-family: $main-font;
    font-weight: 400;
    cursor: grab;

&:hover{
    animation: logo-rotation 0.3s linear 0.1s infinite;
    color: $primary-color;
}

}

div {
      font-family: $button-font;
      font-size: 15px;
      font-weight: 200;
a {
    text-decoration: none;
    color: inherit;
&:hover{
    color: $primary-color;
}
&:active{
    opacity: 0.7;
}
}
}

ul{
    display: flex;
    margin-right: 10px;
    gap: 30px;
    font-size: 15px;
    font-weight: 300;
    font-family: $button-font;
}

li{
    list-style: none;
    cursor: pointer;
    transition: padding-bottom 0.4s ease-out;

    &:hover{
            border-bottom: 2px solid $primary-color;
            padding-bottom: 5px;
            color: $primary-color;
            }
    &:active{opacity: 0.7;}

a {
    text-decoration: none;
    color: inherit;
}
}
}

/* welcome */

header strong {
    color: $primary-color;
}

header {
min-height: 70vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-family: $second-font;

h1{
    font-size: clamp(5.5em, 4.25em + 3.125vw, 8em);
    margin-bottom: 1rem;
    text-align: center;
}
div {
    font-size: 20px;
    text-align: center;
}

button {
font-size: 15px;
border: 2px solid $black;
font-weight: 600;
padding: 10px 15px;
border-radius: 5px;
background-color: $white;
color: $black;
width: 9rem;
transition: background-color 0.3s ease; 


&:hover{
    background-color: $primary-color; 
    cursor: pointer;
}
}
}

.wrapper-button {
    display: flex;
    margin: 3rem 0;
    gap: 10px;

img {
    width: 1.5rem;
}

&:active{
    opacity: 0.7;
}
}

/* presentation */

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    color: $white;
    background-color: $black; 
    font-family: $button-font;
    padding: 5rem 20vw;
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 25vh;
    min-height: 50vh;
    font-family: $second-font;

h2{
    font-size: clamp(2rem, 1.5rem + 2.5vw, 3rem);
    font-weight: 500;
    text-align: start;
    margin-bottom: 2rem;
}

div {
    text-align: start;
    max-width: 50vw;
    font-weight: 200
    
    }
}

/* projects */

.sub-title {
    color: $black;
    font-family: $main-font;
    margin-bottom: 1vh;
    font-weight: 650;
    font-size: 20px;
}

.wrapper-card {
    border-radius: 10px;
    border: 1.5px solid transparent;
    box-shadow: 0 0 0 1px $primary-color;
    min-width: 33vw;
    max-height: 65vh;
    margin: 0 20vw;
    margin-bottom: 20px;
    overflow: hidden;
    transition: border-color 0.2s ease-in;
    cursor: pointer;

&:hover {
    border-color: $primary-color;
}

&:focus{
    animation: card-rotation 1s ease 0.1s;
    border-color: $primary-color;
}

img {
    width: 100%;
    aspect-ratio: 16/9;
}
p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
    color: $primary-color;
    padding: 0 25px;
    font-family: $main-font;
    font-size: 15px;
    font-weight: 650;
    text-align: center;
}
}

.btn-project {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 15vh;

.btn-language:hover {
    cursor: pointer;
}


button {
    width: 7vw;
    border-radius: 30px;
    border: 1.5px solid transparent;
    box-shadow: 0 0 0 1px $primary-color;
    background-color: $white;
    padding: 7px 15px;
    cursor: default;
    transition: border-color 0.15s ease-in;
    
&:hover {
    border-color: $primary-color;
}

img {
    width: 25px;
}
}
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vh; 
}

/* skills */

.wrapper-frontend {
    @include wrapper-language;
    box-shadow: -7px 0px 9px -9px;
}

.wrapper-backend {
    @include wrapper-language;
    box-shadow: 7px -3px 9px -9px;
}

.wrapper-tools {
    @include wrapper-language;
    box-shadow: -7px -3px 9px -9px;
}

.wrapper-adobe {
     @include wrapper-language;
    box-shadow: 7px -3px 9px -9px;
    margin-bottom: 20vh;
}
/* contact */

footer {
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $black;

h2 {
    color: $white;
    font-size: 2rem;
    font-family: $second-font;
    letter-spacing: 0.25px;
    align-self: center;
    margin-bottom: 5vh;
    font-weight: 500;
    font-style: italic;
}
}

footer form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 30vw;
    

label {
       font-size: 11px;
       font-weight: 600;
       letter-spacing: 1px;
       color: $white;
       font-family: $second-font;
       font-style: italic
    }

input {
    @include inputs;
    min-height: 5vh;
}
textarea{
    @include inputs;
    padding-top: 10px;
    min-height: 20vh;
} 

button {
    background-color: $black;
    font-size: clamp(8px, 0.4rem + 0.57vw, 13px);
    color: $white;
    font-family: $button-font;
    font-weight: 600;
    border: 2px solid $white;
    border-radius: 5px;
    margin-top: 30px;
    padding: 10px 0;
    cursor: pointer;
    align-self: center;
    width: 10vw;
    transition: opacity 0.3s ease;

&:hover {
    opacity: 0.7;
}
}
}

.wrapper-check{
    display: flex;
    flex-direction: row;
    align-items: center;
img{
    width: 40px;
} 
.check-text{
    color: $white;
    font-family: $second-font;
    margin-left: 10px;
    font-size: 20px;

} 
}



/* MEDIA QUERY */

/* banner */

@media (max-width: 720px) {
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 5vh 0;

    .wrapper-banner{
        margin-bottom: 30px;
    }
    ul {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin: 0;
    }
    }
}

/* skills */
@media (max-width: 1200px) {
.wrapper-frontend,
.wrapper-backend,
.wrapper-tools
{
flex-wrap: wrap;
padding: 40px 20px;
}
}

