/* colors */
$primary-color: rgba(0, 0, 255, 0.55);
$white: white;
$black: black;

header strong {color: $primary-color;}


/* fonts */
$button-font: -apple-system, BlinkMacSystemFont, "SF Pro Text", sans-serif;
$main-font: 'Open Sans', sans-serif;
$second-font: 'Roboto Condensed', sans-serif;


/* mixins */

@mixin wrapper-language {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10em;
    border-radius: 3rem;
    min-height: 30vh;
    margin: 0 20px;

    .langauge-item {
        display: flex;
        flex-direction: column;
        transition-property: all;
        transition-duration: 20s;
        transition-timing-function: ease-out;
        transition-delay: 500s;
    }
    img {
        width: 70px;
        height: 70px;
        margin-bottom: 5px;

    &:hover {
        width: 73px;
        height: 73px;
        cursor:grab;
    }
    }

    h6 {
        font-size: 15px;
        font-family: $main-font;
        font-weight: 700;
    }
}
@mixin inputs {
    padding: 0 10px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    width: 100%;
    outline: none;
    border: none;
    &:focus {
        border: 3px solid $primary-color;
    }
}

/* body */
*
{
margin: 0;
padding: 0;
}

/* banner */

.wrapper-banner {
    display: flex;
    align-items: center;
}

nav {
display: flex;
justify-content: space-between;
align-items: center;
height: 10vh;
box-shadow: 0 -1px 15px -10px $black;
background-color: $white;
position: sticky;
top: 0;

h1{
    margin-left: 10px;
    font-family: $main-font;
    font-weight: 400;
    cursor: pointer;
}

div {
      font-family: $button-font;
      font-size: 15px;
      font-weight: 200;
}

ul{
    display: flex;
    margin-right: 10px;
    font-size: 15px;
    font-weight: 300;
    font-family: $button-font;

}

li{
    list-style: none;
    cursor: pointer;
    margin: 0 20px;
    &:hover{
            border-bottom: 2px solid $black;
            padding-bottom: 5px;
            color: $black;
            }
}
}

/* welcome */

header {
min-height: 70vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-family: $second-font;

h1{
    font-size: 8rem;
    margin-bottom: 1rem;
    text-align: center;
}
div {
    font-size: 20px;
    text-align: center;
}

button {
font-size: 15px;
border: 2px solid $black;
font-weight: 600;
padding: 10px 15px;
border-radius: 5px;
background-color: $white;
color: $black;
width: 9rem;

&:hover{
    background-color: $primary-color; 
    cursor: pointer;
}
}
}

.wrapper-button {
    display: flex;
    margin-top: 3rem;
    gap: 10px;

img {
    width: 1.5rem;
    filter: $primary-color;
}
}

/* presentation */

section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2rem;
    color: $white;
    background-color: $black; 
    font-family: $button-font;
    padding: 5rem 20vw;
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 30vh;
    min-height: 50vh;
    font-family: $second-font;

h2{
    font-size: 3rem;
    font-weight: 500;
    text-align: start;
    margin-bottom: 2rem;
}

div {
    text-align: start;
    max-width: 50vw;
    font-weight: 200
    
    }
}

/* portfolio */

main h1{
    margin-bottom: 7vh;
}

.wrapper-container-card
{
margin-bottom: 20vh;

div {
    border: 2px solid $black;
    border-radius: 10px;
    min-height: 40vh;
    margin: 0 30vw;
    overflow: hidden;

img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 11/4;
}
p {
    padding: 5px 15px
}
}
}

/* skills */

.wrapper-frontend {
    @include wrapper-language;
    box-shadow: -6px 3px 10px -10px;
}

.wrapper-backend {
    @include wrapper-language;
    box-shadow: 6px 0px 10px -10px;
}

.wrapper-tools {
    @include wrapper-language;
    box-shadow: -6px -3px 10px -10px;
    margin-bottom: 20vh;
}

/* contact */

footer {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $black;
    padding: 8vh 0;

h2 {
    color: $white;
    font-size: 3rem;
    font-family: $second-font;
    align-self: center;
    margin-bottom: 5vh;
    font-weight: 500;
}
}

footer form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 30vw;
    

label {font-size: 20px;
       font-weight: 350;
       color: $white;
       font-family: $second-font}

input {
    @include inputs;
    min-height: 5vh;
}
textarea{
    @include inputs;
    padding-top: 10px;
    min-height: 20vh;
} 

button {
    background-color: $black;
    color: $white;
    font-family: $button-font;
    font-weight: 600;
    border: 2px solid $white;
    border-radius: 10px;
    margin-top: 30px;
    padding: 10px 0;
    cursor: pointer;
    align-self: center;
    width: 10vw;
&:hover {
    opacity: 0.7;
}
}
}


